html{
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    height: 250px;
    background-color: blue;
}

header div{
    height: 40px;
    background-color: aquamarine;
}
main{
    height: 500px;
    background-color: white;
}
footer{
    height: 250px;
    background-color: aqua;
}

main{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.container-flex{
    background-color: pink;

}